@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap')
@import '../font/geomanist/geomanist.sass'
@import "tailwindcss/base"
@import "tailwindcss/components"
@import "tailwindcss/utilities"

*
  @apply box-border

html
  @apply scroll-smooth
 
body
  @apply p-0 m-0 font-geomanist text-dark-500 text-[20px] leading-[140%] md:text-3xl

@layer components
  a
    @apply no-underline hover:underline underline-offset-2

  input,
  select,
  textarea,
  button
    @apply focus:outline-none bg-transparent

  .text-linear
    background-clip: text
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

  hr
    @apply border-[#DEDEDE]

  [role="button"],
  button
    @apply select-none

  .next-level-grid
    @apply flex flex-wrap

    & .next-level-grid-item:nth-child(-n+3)
      @apply flex-[1_0_calc(100%)] sm:flex-[1_0_calc(50%-40px)] lg:flex-[1_0_calc(33.3333%-40px)]

    & .next-level-grid-item:nth-child(n+4)
      @apply flex-[1_0_calc(100%)] sm:flex-[1_0_calc(50%-40px)] lg:flex-[1_0_calc(25%-40px)]
    
    & .next-level-grid-item
      & .next-level-grid-image
        @apply p-6 pb-0 lg:p-8 lg:pb-0 flex items-end bg-primary/70 rounded-lg aspect-[349/200]


@media screen and (max-width: 768px)
  .text-6xl
    @apply text-[64px] leading-[100%]
  .text-5xl
    @apply text-[56px] leading-[120%]

  .text-4xl
    @apply text-[32px] leading-[120%]

  .text-3xl
    @apply text-[20px] leading-[140%]
    
  .text-xl
    @apply text-[16px] leading-[140%]

@media screen and (max-width: 600px)
  .text-6xl
    @apply text-[64px] leading-[100%]
  .text-5xl
    @apply text-[40px]
  .text-4xl
    @apply text-[28px]